<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kmitl.projectfinal.se.kmitlbackyard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListSubjectActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubjectPostActivity"
            android:parentActivityName=".activity.ListSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WriteReviewActivity"
            android:parentActivityName=".activity.SubjectPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddTitleReviewActivity"
            android:parentActivityName=".activity.WriteReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditTitleReviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.EditCommentActivity"></activity>
    </application>

</manifest>